*{
    padding: 0%;
    margin: 0;
}

#centrado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;

}

header{
    /*margin: 0px -6px;*/
    display: grid;
    width: 100%;
    height: 150px;
    grid-template-areas:'h1 h1 h1 h1'
                        'hv1 hv2 hv3 hv4';
    grid-template-rows: auto auto;

    justify-items: center;
    align-items: center;                    
}

h1{
    text-align: center;
    grid-area: h1;
}
.hipervinculo:nth-child(2){   
    grid-area: hv1;
}
.hipervinculo:nth-child(3){
    grid-area: hv2;
}
.hipervinculo:nth-child(4){
    grid-area: hv3;
}
.hipervinculo:nth-child(5){
    grid-area: hv4;
    border-right-width: 0px;
}
.hipervinculo{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: black;
  
    border-width: 3px 3px 3px 0px;
}



.filtros{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    
}

#buscador{
    position: relative;
    height: 100%;
    padding: 10px;
    border: 3px solid black;
    border-radius: 30px; 
       
}

#entradaBusqueda{
    border: 0;
    font-size: 16px;
    padding-inline-start: 52px;
}

#entradaBusqueda:focus{
    outline: none;
}

#lupa{
    height: 100%;
    left: 12px;
    position: absolute;
    top: 0;
}

.grilla{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    gap: 20px;
    grid-area: main;
    align-items: center;
    justify-items: center;
    margin: 35px;

    height: 650px;
    overflow: scroll;
    overflow-x: hidden;
}

.portadas{  
    height: 220px;
    width: 420px;
    object-fit: cover;
}
